$primaryColor: #1d295f; 
$secondaryColor: #000000;
$accentColor: #003cff;
$greyColor: #ccc;

$defaultFont: 'Roboto', sans-serif;
$headingFont: 'JetBrains Mono', monospace;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;